<div class="about-us route">
    <img src="../ips/img/about-us.jpg" alt="">
    <article>
        <h1>IPS <br>
            <span class="gray-title">(integrated project solutions)</span></h1>
        <p>
            is a Danish-Iraqi consultancy facilitating entry of foreign businesses and investment into the Iraqi market. is based in
            Copenhagen, Denmark and in Baghdad, Iraq.<br> The company is founded by Danish and Iraqi engineers
            and consultants.
        </p>
        <ul>
            <span>Our Values are:</span>
            <li>Integrality</li>
            <li>Punctuality </li>
            <li>transparency</li>
            <li>Safety of all personal above anything else</li>
        </ul>
        <p>
            We believe that the time is right to gain a foothold in the Iraqi market and gain first mover’s advantage.
        </p>
    </article>
</div>