<div class="contact route">
    <img src="../ips/img/about-us.jpg" alt="">
    <article>
        <!-- to send email from a the browser look here -->
        <!-- https://stackoverflow.com/questions/37642845/sending-an-email-from-the-browser-using-js -->
        <h1>Contact</h1>
        <section>
            <p>Danish office</p>
            <a href="mailto:info@ips.com">info@ips.com </a> </br>
        </section>
        <section>
            <a href="">adel@ips.com</a><br>
            <p>phone <a href="tel:+4530209081">+4530209081</a></p>
        </section>
        <section>
            <p>Iraqi office</p>
            <a href="mailto:nabil@ips.com">nabil@ips.com</a>
        </section>
    </article>
</div>