<div class="route">
    <img src="../img/about-us.jpg" alt="">
    <article>
        <h1>Services</h1>
        <p>
            IPS services include legal, financial and logistic support in acquiring tenders from both the public and private sectors.
            We assist in bidding for contracts and represent your firm in Iraq. <br> We offer local support for
            the procurement of local goods and services. Furthermore, our local staff of engineers can assist in the execution
            of constructional contacts by providing services local expertise in various fields. While our office in Europe
            carries out communication with our clients worldwide. Many of our contracts require no actual presence of foreign
            experts on the ground. Contacts are initiated with our Danish office.
            <br>
            <br> Services include pre-acquisition services and contract execution support.
        </p>
    </article>
</div>